@if (event()) {
  <section class="map-wrapper">
      <app-map [singleEvent]="event()"/>
  </section>

  <!-- Sección de información del evento -->
  <div class="text-center mt-5">
    <h2 class="display-4 text-white">Event Information</h2>
  </div>  

  <section class="container mt-5">
    <div class="row align-items-center">

      <!-- Imagen del evento -->
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="card event-image-card shadow-lg">
          <img 
            [src]="'data:image/jpeg;base64,' + event()?.eventImage" 
            [alt]="event()?.name" 
            class="img-fluid w-100 h-100" 
            style="object-fit: cover;"
          >
        </div>
      </div>

      <!-- Detalles del evento -->
      <div class="col-md-6 d-flex flex-column justify-content-center text-white text-center">
        <div class="event-details">
          <h1 class="display-5 font-weight-bold">{{ event()?.name }}</h1>
          <p class="text-info mb-3">{{ event()?.category }} | {{ event()?.date | date:'longDate' }}</p>
            
          <ul class="list-unstyled event-info-list mt-4">
            <li><i class="fa-solid fa-map-pin me-2"></i> {{ event()?.address }}</li>
            <li>{{ event()?.description }}</li>
            <li><i class="fa-solid fa-person me-2"></i> {{ event()?.participants }}</li>
            <li>
              <i class="fa-solid fa-coins me-2"></i>
              @if (event()?.price !== 0) {
                <span class="badge bg-primary">{{ event()?.price }} €</span>
              } @else {
                <span class="badge bg-success">Free</span>
              }
            </li>
          </ul>

          <!-- Sistema de ratings -->
          <div class="mt-4">
            <app-ratings [ratingsEvent]="event()!.ratings"></app-ratings>
          </div>

          <!-- Botón de registro -->
          <div class="d-flex mt-5 justify-content-center">
            @if (event()?.participants !== 0) {
              <button class="btn btn-outline-light register-btn" (click)="onRegister()">
                {{ isRegistered() ? 'You are already registered' : 'Register' }}
              </button>
            } @else {
              <div class="alert alert-danger mt-4">
                This event is fully booked
              </div>
            }
            <button class="btn btn-outline-dark rate-btn" [disabled]="!isRegistered()" (click)="openDialog(event()!.id)">
              {{ isRegistered() ? 'Rate' : 'Register to rate' }}
            </button>
          </div>

          <!-- Mensajes de éxito o error -->
          <div class="mt-4">
            @if (successMessageRegister()) {
              <div class="alert alert-success">
                {{ successMessageRegister() }}
              </div>
            }
            @if (errorMessageRegister()) {
              <div class="alert alert-danger">
                {{ errorMessageRegister() }}
              </div>
            }
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Galería del evento -->
  <div class="text-center mt-5">
    <h2 class="display-4 text-white">Event Gallery</h2>
  </div>

  <section class="carousel-wrapper mt-5">
    <app-carousel />
  </section>
} @else {
  <p>Cargando información...</p>
}
