.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-title {
  font-weight: bold;
  color: #444;
}

.btn-close {
  background: none;
  border: none;
}

input[type="range"] {
  accent-color: #007bff; /* Cambia el color del control deslizante */
}

span.text-muted {
  font-size: 0.9rem;
}

.modal-footer {
  border-top: none;
  padding-top: 0;
}

button {
  transition: background-color 0.3s ease;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

button.btn-secondary:hover {
  background-color: #6c757d;
}
