<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h1 class="text-5xl font-bold tracking-tight text-gray-900 text-center">All Events</h1>

      <div class="flex items-center space-x-2 mt-4">
        <a routerLink="add-event" class="flex items-center">
            <span class="iconify" data-icon="gg:add" style="font-size: 24px;"></span>
            <p class="text-lg font-semibold ml-3" >Add New Event</p>
        </a>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
          @for (event of eventList; track $index) {
              <div class="border border-gray-300 rounded-lg shadow-md overflow-hidden p-4">
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden bg-gray-200 lg:aspect-none">
                      <!-- Imagen del evento. La cadena data:image/jpeg;base64, indica al navegador que el contenido es una imagen jpg codificada en base64, es encesario para que el navegador interprete los datos de ka imagen correctamente -->
                      <img [src]="'data:image/jpeg;base64,' + event.eventImage" [alt]="event.name" class="h-full w-full object-cover object-center lg:h-80 lg:w-full">
                  </div>
                  <h3 class="text-lg font-semibold text-gray-700 mb-2">{{ event.name }}</h3>
                  <p class="text-sm text-gray-500 mb-4">{{ event.place }} - {{ event.date }}</p>
                  <p class="text-lg font-medium text-gray-900 mb-4">{{ event.price }} €</p>

                  <div class="flex space-x-3">
                      <button class="flex-grow text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                          Details
                      </button>
                      <button class="flex-grow text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2" (click)="deleteEvent(event.id)">
                          Delete
                      </button>
                      <button class="flex-grow text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2" [routerLink]="['modify-event', event.id]">
                          Modify
                      </button>
                  </div>
              </div>
          }
      </div>
  </div>
</div>
