<div class="modal-header bg-light text-dark mt-3">
    <h4 class="modal-title text-center w-100">Are you sure to Logout?</h4>
</div>
  
<div class="modal-body text-dark p-4">
    <p class="text-center">If you logout, you will lose all data not saved. Are you sure?</p>
</div>
  
<div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
  
    <button type="button" class="btn btn-primary mx-2" (click)="onConfirmLogout()">Accept</button>
</div>
  