
<section class="carousel">
    <div class="map-wrapper">
        <app-map [events]="events()"/>
    </div>
</section>

<section class="events container mt-5">

  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-white display-4">Events</h2>
    </div>
  </div>

  <div class="row justify-content-between alignt-items-center mt-4">

    <div class="col-md-3 mb-3 text-center">
      <div class="form-group">
        <label for="categoryFilter" class="text-white font-weight-bold" style="font-size: 1.25rem;">Filter By Category</label>
        <select id="categoryFilter" class=" categoryFilter form-control shadow-lg mt-3" (change)="onCategoryChange($event)">
          <option value="">All Categories</option>
          @for (eventCategory of events(); track $index) {
            <option [value]="eventCategory.category">{{eventCategory.category}}</option>
          }
        </select>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        @for (event of filteredEvents(); track $index) {
          <ng-container>
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="card event-card h-100">
                <div class="card-img-wrapper">
                  <img 
                    [src]="'data:image/jpeg;base64,' + event.eventImage" 
                    [alt]="event.name" 
                    class="card-img-top"
                  >
                </div>
                <div class="card-body text-white d-flex flex-column">
                  <h5 class="card-title font-weight-bold">{{ event.name }}</h5>
                  <p class="card-text">{{ event.address }} - {{ event.date | date:'longDate' }}</p>
                  @if (event.price === 0) {
                    <p class="h5 text-warning mt-auto">Free</p>
                  } @else {
                    <p class="h5 text-warning mt-auto">{{event.price | currency: 'EUR':'symbol'}}</p>
                  }
                  <div class="d-flex justify-content-between mt-4">
                    <button [routerLink]="['/event-details', event.id]" class="btn btn-primary view-btn">View</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        }
      </div>
    </div>

  </div>

</section>


