<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true" autoplay-delay="3000" autoplay-disable-on-interaction="false">
    @for (img of images; track $index) {
      <swiper-slide>
        <img [src]="img" />
      </swiper-slide>
    }
</swiper-container>

<swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="3" free-mode="true"
    watch-slides-progress="true">
    @for (img of images; track $index) {
      <swiper-slide>
        <img [src]="img" />
      </swiper-slide>
    }
</swiper-container>
