<google-map [options]="options">
    @if (singleEvent()) {
        <map-advanced-marker
        #marker = "mapAdvancedMarker"
        [options]="markerOptions" 
        [position]="{ lat: singleEvent()?.lat || 0, lng: singleEvent()?.lng || 0}" />
    } @else {
        @for (location of events(); track location) {
            <map-advanced-marker
            #marker = "mapAdvancedMarker"
            [options]="markerOptions" 
            [position]="{ lat: location.lat, lng: location.lng }" 
            (mapClick)="openInfoWindow(location, marker)" />
        }
    }
    <map-info-window></map-info-window>
</google-map>
